PORT_API_GATEWAY=3000
PORT_WEATHER_SERVICE=3001
PORT_SUBSCRIPTION_SERVICE=3002

WEATHER_API_KEY=your_weather_api_key
WEATHER_API_URL=http://api.weatherapi.com/v1/current.json

OPEN_WEATHER_MAP_KEY=your_open_weather_map_key
OPEN_WEATHER_MAP_URL=https://api.openweathermap.org/data/2.5/weather

WEATHER_STACK_KEY=your_weather_stack_key
WEATHER_STACK_URL=http://api.weatherstack.com/current

BROKER_URL=amqp://guest:guest@127.0.0.1:5672

GRPC_URL=localhost:5000
PACKAGE_NAME=weather

API_GATEWAY=api-gateway
WEATHER_SERVICE=weather-service
SUBSCRIPTION_SERVICE=subscription-service

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=weather_db

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_TTL=900

EMAIL_HOST=smtp.ukr.net
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your_email
EMAIL_PASSWORD=your_password

REACT_APP_API_URL=http://localhost:3004